section{ 
	width: 100%;
	height: 700px;
}

img{
	width: 100px;
	height: 100px;
}

#firstPage{
	background-image: url("../html/slider/slider.jpg");
	background-size: 100%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
header{
	
	position: fixed;
	left: 40%;
}
a{
		text-decoration: none;

}
#secondpage{
	background-image: url("../html/tech.jpg");
	background-size: 100%;
	color: white;
	height: 900px;

}
#secondpage div{
	width: 400px;
	height: 300px;
	display: inline-block;
	margin: 10px;
	font-size: 18px;


}
#thirdpage {
	background-image: url("../html/apps.jpg");
	background-size: 100%;
	color: white;
	text-align: center;
}
.maryam{
	font-size: 30px;
	margin-bottom: 10px;
}
#fourthpage{
	text-align: center;

}
#fifthpage{
	background-image: url("../html/contact.jpg");
	text-align: center;
	color: white;
}
footer{
	background-color: black;
	color:#333333;
	height: 100px;
	display: flex;
	align-items: center;
}
#maryam1{
	background-image: url("../html/projects.jpg");
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;

	}
	.maryam2{
		text-align: center;
	}
	#maryam3 img{
		width:400px; 
		height: 300px;
		margin: 7px;
	}
	#maryam4{
		margin-bottom: 150px;
	}